.ButtonPositive {

  &--root {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-family: 'Muli', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 10px;
    padding: 10px 20px;
    transition: all 100ms;
  }

  &--root:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 0 black, 0 5px 10px 3px rgba(0, 0, 0, 0.15);
  }

  &--root:active {
    background-color: yellow;
    box-shadow: 0 0 0 transparent, 0 0 0 0 transparent;
    transform: translateY(0);
  }

  &--root:focus {
    outline: none;
  }

}
